body {
    background: url('../images/logo_left_part.png'), linear-gradient(#90b5f7 30%, #83acf3 100%);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 100vh;
}

* {
    font-family: 'Libre Barcode 128 Text', sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.page {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.container {
    margin: 50px 0px 0px 100px;
    padding: 0 10px;
}

.imgSize {
    width: 35px;
}

.leftside {
    width: 548px;
    height: 100vh;
    border-right: 1px solid red;
}

.l_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: solid 1px red;
}
.l_header a img {
    width: 20px;
    height: 20px;
    line-height: 26px;
    text-align: center;
    position: relative;
    z-index: 1;
    float: left;
}
.burger {
    margin-left: 15px;
}
.search {
    position: absolute;
    left: 30px;
}

.l_header input {
    width: 85%;
    height: 30px;
    outline: 0 !important;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 30px;
    box-shadow: none;
}

.chat_list {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.chat_list ul li {
    border-bottom: 1px solid red;
    padding: 5px 0px 5px 10px;
    display: flex;
}
.chat_list ul li p {
    margin-left: 5px;
    font-size: 14px;
}
.chat_list ul li:hover {
    background-color: #fff;
}

.rightside {
    width: 100%;
    height: 100vh;
}

.r_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: solid 1px red;
}